body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F8FF; /* Блідо-блакитний фон */
}

.image-container {
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
    border: 2px solid #B0C4DE; /* М’який блакитний обвід */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}